QWidget{
    background-color:#FFFFFF;
    
    
}
QGroupBox{
    
    border:none;
}
#labelAccountPicture{
image:url(:images/accountPicture.jpg);
}
#labelAccountLogin{

image:url(:/images/accountLoginV2.jpg);

}
#labelPictureLeft{
background-color:#EFF2F6;
}